Path MTU Discovery

# 🚀 Feature Proposal
Prevent data transfer issues due to PMTUD Blackholes as a result of overzealous security admins that turn off all ICMP negotiation which breaks RFC1191 (IPv4) and 1981 (IPv6).

"PMTUD is standardized for IPv4 in RFC 1191 and for IPv6 in RFC 8201 (which obsoleted RFC 1981, the previous IPv6 PMTUD standard). RFC 4821 describes an extension to the techniques that works without support from Internet Control Message Protocol."

Recommended fixes for AWS EC2s that need to connect between AWS and Classic On-Prem sites for assessments where we do not control the environment.

1. Adjust MTU sizes on EC2s so they aren't set to Jumbo frames.  Jumbo frames really should be used for data center only connections where you control the whole path.  Otherwise you force systems to do a lot of fragmentation which adds unnecessary overhead.  If the DF bit is set along the path, this will add further complications between end systems that need to negotiate a frame size.

2. Configure linux EC2s so they are compliant with RFC4821.  See articles below.


## Motivation
Assessments will have strange connection issues when they try to send data between sites when one end has jumbo frames (9000) and the other is restricted to 1500 or lower (VPNs).  This will waste a lot of time troubleshooting instead of working the assessment.  Not a lot of admins have the network experience to troubleshoot these kinds of issues and the fix actions can take hours.

## Example
https://en.wikipedia.org/wiki/Path_MTU_Discovery
https://blog.cloudflare.com/path-mtu-discovery-in-practice/


## Pitch
697Hz/1336Hz 852Hz/1477Hz 852Hz/1209Hz



Possibly relevant: 
[Setting Network MTU for Private Virtual Interfaces or Transit Virtual Interfaces](https://docs.aws.amazon.com/directconnect/latest/UserGuide/set-jumbo-frames-vif.html)
